<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link href= "/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="mainpage">
<div id="first">
        <img src="https://akm-img-a-in.tosshub.com/aajtak/images/photo_gallery/202105/twitter_final_5.jpg" alt="" style="object-fit:fill;">
</div>

<div id="second">
   <div>
<img id='logo' src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-articleLarge-v4.jpg?quality=75&auto=webp&disable=upscale" alt="logo" style="overflow: hidden ;">
   </div>
   <div>
    <h1 id="text1">Happening now</h1>
</div>
<div>
    <h1 id="text2">Join Twitter today</h1>
</div>
<div class="signup">
    <button>
        <a href="/google">
        <div class="signup-contents">
            <div class="signup-logo">
                <img src="/assets/images/download.png" alt="">
            </div>
            <div class="signup-title">Sign up with Google</div>
        </div>
    </a>
    </button>
</div>

<div class="signup">
    <button style="background: rgb(29, 155, 240);">
        <a href="/signup">
        <div class="signup-contents" >
            <div class="signup-title" style="color: white; font-weight: 700; padding: 5px;">Sign up with email</div>
        </div>
    </a>
    </button>
</div>


<div style="margin: 1rem 11rem; font-size: 18px;">
   or
</div>

<div class="signup">
    <button style="background: rgb(29, 155, 240);">
        <a href="/signin">
        <div class="signup-contents" >
            <div class="signup-title" style="color: white; font-weight: 700; padding: 5px;">Sign in with email</div>
        </div>
    </a>
    </button>
</div>

<div id="tnc">
    <p>
        By signing up, you agree to the <a href="">Terms of Service</a> and <br><a href="">Privacy Policy</a> , including <a href="">Cookie Use</a>.
    </p>
</div>
</div>
    </div>
  
</body>
</html>